$blue-color: #416386;
$light-blue: #d1dbe6;
$green-color: #859d85;
$light-green: #d7e4d7;
$grey-color: #547ea0;
$text-color: #4d4d4d;
$brown-color: #abacaf;
$veryGreen-color: #5c945c;
$cta-color: linear-gradient(to bottom, #14a9f7 0%, #077cb9 100%);

$background-elements: #EEEEEE;
$accent-main: #D92929;
$accent-second: #f7772d;
//$background-color: linear-gradient(to right, rgba(59, 38, 179, 0.92) 0%, rgb(79, 32, 172, 0.92) 26%, rgb(93, 28, 170, 0.92) 51%, rgb(98, 27, 169, 0.92) 76%, rgb(110, 23, 166, 0.92) 100%);
$background-color: linear-gradient(to left, rgba(0, 31, 119, 0.74) 0%, rgba(10, 17, 98, 0.74) 51%, rgba(7, 11, 58, 0.74) 100%);