@import 'common/mixins';
@import 'common/screen';
@import 'common/colors';
@import 'common/variables';

.contacts-page {
  background-image: url("img/services-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include max-w(425) {
    font-size: 13px;
  }

  h3 {
    font-size: 54px;
    font-weight: 100;
    color: $text-color;
    @include max-w(425) {
      font-size: 25px !important;
    }
    @include sm-max {
      font-size: 30px !important;
    }
    @include md-max {
      font-size: 35px !important;
    }
    @include lg-max {
      font-size: 40px !important;
    }
    @include xl-min {
      font-size: 54px !important;
    }
  }

  .headers-wrapper {
    padding-top: 50px;
  }

  .content-wrapper {
    padding-top: 50px;

    .top-banner {
      img {
        width: 100%;
      }
    }

    .contacts-info {
      padding-top: 40px;

      .inner-wrapper {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include lg-max {
          flex-wrap: wrap;
          flex-direction: column;
        }

        .single-col {
          @include lg-max {
            width: 100%;
            padding: 0 0 25px 0 !important;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            border: 0 !important;
            margin: 0 !important;
            text-align: center;
            img {
              position: absolute;
              left: 0;
            }
          }
          position: relative;
          width: 33%;
          display: flex;
          align-items: center;
          //justify-content: space-between;
          span {
            padding-left: 20px;
          }

          .phone-div {
            @include lg-max {
              width: 100%;
            }
          }

          .media {
            @include lg-max {
              position: relative;
              justify-content: center;
              width: 100%;
              padding-top: 30px;
              img:first-child {
                width: 52.5px;
              }
              img:last-child {
                width: 26px;
              }
              img {
                position: relative;
              }
            }
            position: absolute;
            right: 0;

            img:first-child {
              padding-right: 25px;
            }
          }
        }

        .single-col:first-child {
          margin-right: 15px;
        }

        .single-col:nth-child(2) {
          border-right: 2px solid #efefef;
          border-left: 2px solid #efefef;
          display: flex;
          justify-content: center;
        }

        .single-col:last-child {
          margin-left: 15px;
          padding-left: 25px;
        }
      }
    }
  }

  .map-wrapper {
    padding-top: 50px;
    @include max-w(425) {
      padding-top: 20px;
    }

    iframe {
      border-radius: 35px;
    }
  }

  .map-wrapper2 {
    padding-top: 50px;
    @include max-w(425) {
      padding-top: 30px;
    }

    .how-to-find {
      p {
        @include max-w(425) {
          padding-top: 15px;
        }
        padding-top: 30px
      }
    }
  }
}