@import 'common/mixins';
@import 'common/screen';
@import 'common/colors';
@import 'common/variables';

.detail-promo-page {
  background-image: url("img/services-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  h3 {
    font-size: 62px;
    padding-bottom: 20px;
    color: $text-color;
    font-weight: 100;
    @include max-w(576) {
      font-size: 25px !important;
    }
    @include lg-max {
      font-size: 35px !important;
    }
  }

  p, span, li {
    @include max-w(425) {
      font-size: 14px;
    }
  }

  .headers-wrapper {
    padding-top: 50px;
  }

  .content-wrapper {
    padding-top: 50px;

    .top-banner {
      background-image: url("img/detail-promo-banner.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 45px;

      .banner-text {
        display: flex;
        justify-content: flex-end;

        h5 {
          margin-bottom: 10px;
          padding-top: 15px;
          font-weight: 100;
          font-size: 30px;
          @include max-w(425) {
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 5px;
          }
        }

        p:first-child {
          span:first-child {
            font-weight: 400;
          }
        }

        p:last-child {
          font-weight: 100;
        }

        .text-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          //justify-content: end;
          width: 47%;
          text-align: right;
          position: relative;
          padding: 60px 75px 100px 0;
          @include max-w(425) {
            width: 100%;
            padding: 25px;
          }

          span {
            padding-bottom: 10px;
          }

          .green-promo {
            background-color: $veryGreen-color;
          }

          div {
            background-color: #577593;
            border-radius: 22px;
            color: white;
            padding: 10px 30px;
            width: 22.5%;
            text-align: center;
            margin-bottom: 30px;
            font-size: 18px;
            @include max-w(425) {
              width: 40%;
            }
          }

          .first-span {
            font-size: 45px;
            font-weight: 100;
            line-height: 1;
            padding-bottom: 20px;
            color: #3c3d40;

            .big-font-promo {
              font-size: 75px;
              @include max-w(425) {
                font-size: 25px !important;
              }
            }

            .smaller-font-promo {
              font-size: 60px;
              @include max-w(425) {
                font-size: 25px !important;
              }
            }

            .colored-span {
              padding-left: 20px;
              font-size: 80px;
              letter-spacing: 1.97px;
              @include max-w(425) {
                letter-spacing: 1px;
                padding-left: 0;
                font-size: 25px !important;
              }
            }

            .green-colored-span {
              padding-left: 20px;
              font-size: 80px;
              letter-spacing: 1.97px;
              @include max-w(425) {
                letter-spacing: 1px;
                padding-left: 0;
                font-size: 22px !important;
              }
            }
          }

          .second-span {
            font-size: 50px;
            line-height: 1;
            font-weight: 500;
            @include max-w(425) {
              font-size: $subHeader375;
            }

            .last-span {
              letter-spacing: 5.91px;
              font-weight: 400;
              font-size: 39px;
              @include max-w(425) {
                letter-spacing: 1px;
                font-size: 25px !important;
              }
            }

            .colored-span {
              font-size: 39px;
              letter-spacing: 1.97px;
              @include max-w(425) {
                letter-spacing: 1px;
                font-size: 25px !important;
              }
            }

            .green-colored-span {
              font-size: 39px;
              letter-spacing: 1.97px;
              @include max-w(425) {
                letter-spacing: 1px;
                font-size: 25px !important;
              }
            }
          }
        }
      }
    }

    .main-info {
      padding-top: 40px;
      @include max-w(425) {
        padding-top: 20px;
      }

      p {
        font-size: 18px;
        @include max-w(425) {
          font-size: 14px;
        }
        color: #121212;
        font-weight: 100;
      }
    }

    .results-section {
      padding-top: 30px;
      @include max-w(425) {
        padding-top: 15px;
      }

      ul {
        padding-top: 10px;
        list-style: none;
        padding-left: 0;

        li {
          padding-bottom: 12.5px;
          padding-left: 25px;

          &:before {
            content: url("img/icons/li-dot.png");
            display: inline-block;
            width: 1.4em;
            font-weight: bold;
            margin-left: -25px; /* this is to move the icon left */
            padding-right: 10px; /* to keep some space between icon and text */
          }
        }
      }
    }
  }

  .effects-section {
    padding-top: 30px;
    @include max-w(425) {
      padding-top: 15px;
    }
  }

  .prices-section {
    background-image: url("img/weirdWhiteBck2.png");
    padding-top: 60px;
    margin-top: 100px;
    padding-bottom: 0;
    z-index: 10;
    position: relative;

    .headers-wrapper {
      .section-header {
        margin-top: -30px;
        @include lg-max {
          margin-top: 0;
        }
      }
    }

    .section-wrapper {
      padding: 0 40px;
    }

    .another-wrapper {
      @include lg-max {
        padding-top: 0;
      }

      .col-lg-2, .col-lg-8 {
        padding: 20px 0;
        @include max-w(425) {
          padding: 10px 0;
        }
      }

      .col-lg-2 {
        text-align: center;
      }

      .row:first-child {
        @include lg-max {
          display: none;
        }

        .col-lg-2, .col-lg-8 {
          padding-top: 40px;
        }
      }

      .row:last-child {
        @include lg-max {
          display: none;
        }
        border-bottom: 0;

        .col-lg-2, .col-lg-8 {
          padding-bottom: 60px;
        }
      }

      .row {
        padding: 0;
        font-size: 22px;
        margin-left: 10px !important;
        @include lg-max {
          margin-left: -15px !important;
        }

        .white-col {
          background-color: white;
          @include lg-max {
            background-color: transparent;
          }
        }
      }
    }

    @include lg-max {
      .custom-row:nth-last-child(2) {
        border-bottom: 0 !important;
        padding-bottom: 15px !important;
      }
    }

    .custom-row {
      border-bottom: 3px dotted $blue-color;

      .mobile-only {
        display: none;
      }

      @include lg-max {
        .mobile-only {
          display: block;
        }
      }

      .col-lg-8 {
        @include lg-max {
          text-align: center;
        }
        padding-left: 0;
      }

      .green-colored-div {
        background-color: $light-green;
        padding: 10px 25px;
        border-radius: 35px;
        text-align: center;
        @include lg-max {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
        }
      }

      .blue-colored-div {
        background-color: $light-blue;
        padding: 10px 25px;
        border-radius: 35px;
        text-align: center;
        @include lg-max {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
        }
      }
    }
  }
}