@import 'common/mixins';
@import 'common/screen';
@import 'common/colors';
@import 'common/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


@font-face {
  font-family: FuturaFont;
  src: url(fonts/FuturaMdBTBold.otf)
}

* {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1100px) {
  .container {
    max-width: 1270px;
  }
}

.cta-button {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.69);
  background-image: linear-gradient(to bottom, #14a9f7 0%, #077cb9 100%);
  border-radius: 34px;
  border: 0;
  padding: 16px 45px;
  color: white;
  @include max-w(375) {
    font-size: 12px;
    padding: 10px 30px;
  }

  &:hover {
    background-image: linear-gradient(to bottom, #0c98e1 0%, #086fa5 100%);
  }
}

.custom-outline {
  padding: 13px 0;
  border: 1px solid #14a9f7;
  color: $blue-color;
  border-radius: 35px;
  background-color: transparent;

  &:hover {
    color: white;
    background-image: linear-gradient(to right, #14a9f7 0%, #077cb9 100%);
  }
}

.colored-span {
  color: $blue-color;
  font-weight: 400;
}

.green-colored-span {
  color: $veryGreen-color;
  font-weight: 900;
}

.headers-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .section-subHeader {
    font-size: 68px;
    color: #4d4d4d;
    font-weight: 300;
    @include max-w(425) {
      font-size: $subHeader375;
    }
  }

  .section-header {
    font-size: 110px;
    font-family: 'Montserrat', sans-serif;
    color: $brown-color;
    margin-top: -40px;
    text-transform: uppercase;
    //text-align: center;
    font-weight: 800;
    padding-left: 80px;
    letter-spacing: 7.08px;
    @include max-w(425) {
      text-align: left;
      letter-spacing: 1px;
      padding-left: 20px;
      font-size: $header375;
      margin-top: 0;
    }
  }
}


button:focus {
  outline: 0 !important;
}

.slick-slide:focus {
  outline: 0 !important;
}

footer {
  background-color: #fafafa;
  padding-top: 220px;
  margin-top: -185px;

  @include max-w(425) {
    z-index: 4;
  }

  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 50px;
    @include max-w(425) {
      padding-bottom: 30px;
      padding-top: 30px;
    }

    span:first-child {
      font-weight: 100;
      font-size: 30px;
      @include max-w(425) {
        font-size: 16px;
      }
    }

    span {
      padding-bottom: 20px;
      @include max-w(425) {
        font-size: 12px;
      }

      img {
        margin-right: 10px;

      }
    }

    .social-icons {
      @include max-w(425) {
        img {
          width: 20px;
        }
      }

      img:first-child {
        margin-right: 10px;
      }
    }

    .btn-wrapper {
      width: 100%;
      padding-top: 30px;

      button:first-child {
        margin-right: 20px;
      }
    }
  }

  .map-wrapper {
    padding-bottom: 100px;
    padding-top: 50px;
    @include max-w(425) {
      padding-bottom: 55px;
      padding-top: 25px;
    }

    iframe {
      border-radius: 30px;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '|'
}

.breadcrumb {
  a {
    color: $blue-color;
  }
}

.inputs-wrapper {
  width: 100%;
  padding-top: 40px;
  text-align: center;
  @include max-w(425) {
    padding-top: 20px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    @include max-w(425) {
      justify-content: center;
    }

    .cta-button {
      padding: 16px 85px;
    }
  }

  input {
    @include max-w(425) {
      margin-bottom: 20px;
      padding: 14px 30px;
      width: 85%;
      font-size: 12px;
    }
    border-radius: 35px;
    background-color: #ebf9eb;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    border: 0;
    padding: 16px 60px;
  }

  p {
    @include max-w(425) {
      font-size: 12px;
    }
    padding-top: 30px;
  }
}

.input-headers {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;

  span:first-child {
    font-size: 18px;
    font-weight: 300;
    @include max-w(425) {
      font-size: 14px;
    }
  }

  span:nth-child(2) {
    color: $green-color;
    font-size: 42px;
    @include max-w(425) {
      font-size: 20px;
    }
  }

  span:last-child {
    color: $blue-color;
    font-size: 65px;
    margin-top: -25px;
    @include max-w(425) {
      margin-top: -10px;
      font-size: 25px;
    }
  }

}

.callback-section {
  background-image: url("img/white-bck-services.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 360px;
  //padding-bottom: 365px;
  z-index: 2;
  position: relative;
  @include max-w(425) {
    //padding-top: 100px;
    margin-top: -100px;
  }

  .container {
    position: relative;
    top: -65px;
  }
}

.priceList-section {
  background-image: url("img/weirdWhiteBck.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  //padding-top: 360px;
  //padding-bottom: 365px;
  z-index: 2;
  position: relative;
  @include max-w(425) {
    //padding-top: 100px;
    margin-top: -100px;
  }

  .container {
    position: relative;
    top: -65px;

    .headers-wrapper {
      .section-header {
        margin-top: -30px;
      }
    }
  }
}

.firstPic {
  background-image: url('img/figure1.png');
  background-repeat: no-repeat;
  background-position: bottom 120px left 160px;

  .secondPic {
    background-image: url('img/figure2.png');
    background-repeat: no-repeat;
    background-position: top 65px right 165px;
  }
}

// Navbar -----------------------------------------------------------------------------

.navbar {
  background-color: white;
  @include max-w(425) {
    justify-content: space-between !important;
    display: flex;
  }

  .navbar-brand {
    img {
      position: relative;
      top: -5px
    }
  }

  .navbar-collapse {
    flex-grow: inherit;

    .nav-item {
      text-transform: uppercase;
      color: #2a2a2a;
    }

    .call-us-block {
      padding-left: 20px;
      @include max-w(425) {
        padding-left: 0;
      }
      font-weight: 400;
      color: #343434;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin: 7.5px;
      }

      img:first-child {
        @include max-w(425) {
          margin-left: 0;
        }
        width: 27px;
        height: 26px;
      }

      img:last-child {
        width: 14px;
        height: 16px !important;
      }
    }
  }
}

// First screen -----------------------------------------------------------------------------

.first-screen {
  background-image: url('img/screen1background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;

  .first-screen__content {

    padding: 200px 0;

    font-weight: 100;
    height: 100%;
    max-width: 45%;
    @include max-w(425) {
      max-width: 100%;
      padding: 50px 25px;
    }

    h1 {
      width: 100%;
      font-weight: 100 !important;
      margin-bottom: 0;
      font-size: 54px;
      @include max-w(425) {
        font-size: 30px;
      }
    }

    .small-text {
      display: block;
      padding-top: 40px;
      font-size: 24px;
      @include max-w(425) {
        font-size: 20px;
      }
    }

    .btn-wrapper {
      padding: 20px 0;
    }
  }
}

// Perks -----------------------------------------------------------------------------

.perks-container {
  padding-top: 70px;
  @include max-w(425) {
    padding-top: 35px;
  }
  margin-bottom: -70px;

  .perks-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include max-w(425) {
      padding-bottom: 15px;
    }

    span {
      display: block;
      padding-left: 17.5px;
      color: #454545;
      font-size: 15px !important;
    }
  }
}

// Second screen -----------------------------------------------------------------------------

.second-screen {
  background-image: url('img/screen2background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9999;

  .second-screen__content {
    @include max-w(425) {
      max-width: 100%;
      padding: 0;
      margin-top: 220px;
      margin-bottom: 60px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    max-width: 65%;
    padding: 200px 0 100px;
    margin-top: 20px;

    h1 {
      width: 100%;
      font-weight: 100 !important;
      margin-bottom: 0;
      font-size: 46px;
      @include max-w(425) {
        font-size: 30px;
        padding: 0 25px 25px;
      }
      padding-bottom: 30px;

    }

    .text-block {
      box-shadow: 0 6px 11px rgba(0, 0, 0, 0.06);
      border-radius: 15px;
      background-color: white;
      @include max-w(425) {
        width: 90%;
        font-size: 14px;
      }
      width: 75%;
      padding: 15px 25px 20px;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 20px;

      .inner-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .inner-block {
          @include max-w(425) {
            width: 100%;
            img {
              width: 40px;
            }
          }
          width: calc(50% - 10px);

          span {
            @include max-w(425) {
              font-size: 12px !important;
            }
            font-size: 15px !important;
            //padding-left: 10px;
          }
        }

        .inner-block:first-child {
          @include max-w(425) {
            padding-right: 0;
          }
          padding-right: 10px;
        }

        .inner-block:last-child {
          @include max-w(425) {
            padding-left: 0;
          }
          padding-left: 10px;
        }
      }

      .inner-block {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include max-w(425) {
          width: 100%;
          img {
            width: 30px;
          }
        }

        span {
          @include max-w(425) {
            font-size: 12px;
          }
          font-size: 18px;
          padding-left: 20px;
        }
      }
    }
  }

}

// Slider section -----------------------------------------------------------------

.slider-section {
  //margin-top: -20px;
  background-color: #fafafa;
  z-index: 1;
  margin-top: -215px;
  padding-top: 200px;
  padding-bottom: 400px;
  @include max-w(425) {
    padding-top: 275px;
    .slick-arrow {
      display: none !important;
    }
  }

  .headerCol {
    padding: 0;
    @include max-w(425) {
      text-align: center;
    }

    .header {
      color: $grey-color;
      letter-spacing: 22px;
      font-size: $hugeHeader;
      text-transform: uppercase;
      font-family: FuturaFont;
      opacity: 0.29;
      text-align: center;
      font-weight: 700;
      width: 100%;
      margin-left: -7.5px;
      @include max-w(425) {
        font-size: $hugeHeader425;
        letter-spacing: 3px;
        text-align: center;
      }
    }

    span:last-child {
      text-transform: uppercase;
      font-size: 40px;
      margin-top: -50px;
      display: block;
      margin-left: 1.5px;
      @include max-w(425) {
        padding-top: 10px;
        margin-top: 0;
        font-size: 20px;
      }
    }
  }

  .sliderDiv {
    padding-top: 25px;
    padding-bottom: 70px;

    .single-piece {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      img {
        margin-bottom: 15px;
        margin-right: 0 !important;
      }

      span {
        font-size: 18px;
      }
    }
  }
}

// Prices section -------------------------------------------------------------------------

.prices-section {
  background-image: url("img/whiteBck.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  margin-top: -300px;
  padding-top: 100px;

  .another-wrapper {
    z-index: 6;
  }

  .section-wrapper {
    background-image: url('img/figure3.png');
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
    top: -150px;
    background-color: #fafafa;
    border-radius: 45px;
    padding: 25px 50px;
    z-index: 5;

    .price-row {
      @include max-w(425) {
        padding-top: 0;
      }
      padding-top: 50px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;

      .price-wrapper {
        display: flex;
        @include max-w(425) {
          flex-wrap: wrap;
        }
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .text-wrapper {
          @include max-w(425) {
            width: 100%;
          }
          display: flex;
          flex-direction: column;
          @include max-w(425) {
            p:last-child {
              font-size: 12px;
            }
          }
        }

        .price-block-blue {
          @include max-w(425) {
            width: 100%;
            margin: 0 auto;
          }
          display: block;
          padding: 10px 20px;
          background-color: #d1dbe6;
          border-radius: 27px;
          margin-left: 50px;
          width: 35%;
          text-align: center;
        }

        .price-block-green {
          @include max-w(425) {
            width: 100%;
            margin: 0 auto;
          }
          display: block;
          padding: 10px 20px;
          background-color: #d7e4d7;
          border-radius: 27px;
          margin-left: 50px;
          width: 35%;
          text-align: center;
        }
      }

      //border-bottom: 1px dotted #2c6ba1;
    }

    hr {
      width: 100%;
      border-bottom: 3px dotted #2c6ba1;
      border-top: 0;
    }
  }
}

// Promo section ----------------------------------------------------------------------

.promo-section {
  background-image: url("img/screen3background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 250px;
  padding-top: 150px;
  margin-bottom: 40px;
  @include max-w(425) {
    padding-bottom: 100px;
    .slick-arrow {
      display: none !important;
    }
  }

  .promo-slider {
    padding-top: 40px;

    .inner-wrapper {
      @include max-w(425) {
        padding: 25px;
      }
      background-image: url("img/banner1.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      border-radius: 30px;
      padding: 64px;

      .text-wrapper {
        @include max-w(425) {
          width: 100%;
          .inner-text-wrapper {
            background-color: rgba(255, 255, 255, 0.3);
            box-shadow: 0 10px 10px rgba(255, 255, 255, 0.4);
            border-radius: 35px;
            padding: 15px;
          }
        }
        width: 40%;
        display: flex;
        flex-direction: column;

        span {
          padding-bottom: 10px;
        }

        div:first-child {
          @include max-w(425) {
            width: 40%;
          }
          background-color: #577593;
          border-radius: 22px;
          color: white;
          padding: 10px 30px;
          width: 27%;
          text-align: center;
          margin-bottom: 30px;
          font-size: 18px;
        }

        .first-span {
          font-size: 68px;
          font-weight: 300;
          line-height: 1;
          padding-bottom: 20px;
          @include max-w(425) {
            font-size: $header375;
          }

          .colored-span {
            font-weight: 900;
          }
        }

        .second-span {
          font-size: 50px;
          line-height: 1;
          font-weight: 500;
          @include max-w(425) {
            font-size: $subHeader375;
          }
        }
      }

      .cta-button {
        @include max-w(425) {
          width: 100%;
        }
        margin-top: 35px;
        width: 25%;
      }
    }
  }
}

// Appointment section ---------------------------------------------------------------------

.appointment-section {
  background-image: url("img/background3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 33px;
  padding: 217px 0;
  z-index: 2;
  position: relative;
  @include max-w(425) {
    padding-top: 50px;
    padding-bottom: 60px;
    .slick-arrow {
      display: none !important;
    }
  }

  .steps-slider {
    .inner-wrapper {
      .content-block {
        @include max-w(425) {
          width: 100%;
        }

        width: 40%;
        border-radius: 45px;
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
        background-color: white;
        padding: 30px 40px;
        opacity: 0.93;
        display: flex;
        flex-direction: column;

        h2 {
          color: $blue-color;
          text-transform: uppercase;
          font-size: 65px;
          @include max-w(425) {
            font-size: $header375;
          }
        }

        .custom-outline {
          @include max-w(425) {
            width: 100%;
          }
          width: 60%;
        }
      }
    }
  }
}

// Media section -----------------------------------------------------------------------

.media-section {
  background-color: #fafafa;
  background-image: url("img/flower-back.png");
  background-position: top 80% center;
  background-repeat: no-repeat;
  padding-top: 300px;
  padding-bottom: 217px;
  margin-top: -235px;
  z-index: 1;
  position: relative;
  text-align: center;

  .media-wrapper {
    padding-top: 25px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      img {
        padding-bottom: 30px;
        width: 100%;
      }
    }
  }

  .cta-button {
    margin: 25px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Stuff section --------------------------------------------------------------------

.stuff-section {
  background-image: url("img/blueBck.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 2;
  position: relative;
  margin-top: -340px;
  padding: 217px 0;
  @include max-w(425) {
    padding-bottom: 65px;
    .slick-arrow {
      display: none !important;
    }
  }

  .stuff-slider {
    padding-top: 75px;
    @include max-w(425) {
      padding-top: 30px;
    }

    .single-employee {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .inner-wrapper {
        padding: 0 15px;
      }

      img {
        width: 100%;
        border-radius: 50%;
        border: 12.5px solid $blue-color;
      }

      .text-wrapper {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        text-align: center;

        h5 {
          font-weight: 400;
        }

        span {
          font-weight: 100;
        }
      }
    }
  }

}

.qa-section {
  background-image: url("img/background4.png");
  background-repeat: no-repeat;
  @include max-w(425) {
    background-size: auto;
  }
  background-size: cover;
  background-position: center center;
  z-index: 1;
  position: relative;
  margin-top: -270px;
  padding-top: 290px;
  padding-bottom: 100px;
  //height: 1565px;
  background-attachment: fixed;
  @include max-w(425) {
    padding-top: 180px;
    margin-top: -130px;
    //height: 900px;
    .headers-wrapper {
      padding-bottom: 25px;
    }
  }

}

.card {
  margin-bottom: 25px;
  background-color: white;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
  border-radius: 35px;
  opacity: 0.93;
  border: 0;

  .card-header {
    background-color: transparent;
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    @include max-w(425) {
      padding: 2.5px 0;
    }
  }

  .card-body {
    padding-top: 0;
    padding-bottom: 25px;
    @include max-w(425) {
      font-size: 14px;
    }
  }

  .collapse, .collapsing {
    padding: 0 22px;
  }
}


/* Style the buttons that are used to open and close the accordion panel */

.mb-0 {

  .colored-span {
    font-size: 60px;
    font-weight: 800;
    margin-right: 25px;
    padding-left: 10px;
    @include max-w(425) {
      font-size: 30px;
      margin-right: 10px;
      //padding-top: 10px;
      padding-left: 5px;
    }
  }

  .fa {
    margin-right: 0.5rem;
    color: $blue-color;
    position: absolute;
    right: 30px;
    @include max-w(425) {
      display: none;
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-link:focus {
    text-decoration: none;
  }

  button {
    @include max-w(425) {
      font-size: 16px;
    }
    font-size: 26px;
    font-weight: 100;
    color: #000;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: 0 !important;
      box-shadow: 0 0 0 0;
    }
  }
}

.modal-content {
  .modal-body {
    padding: 0 30px 20px;
  }

  position: relative;
  border-radius: 25px;

  .close {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 35px;
    font-weight: 100;
    z-index: 999999999999999999999999;
  }

  .modal-header {
    text-align: center;
  }

  .inputs-wrapper {
    h2 {
      font-size: 38px;
      font-weight: 100;
      letter-spacing: 2.25px;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 25px;
      @include max-w(425) {
        font-size: 30px;
      }
    }

    form {
      input {
        width: 100%;
        margin-bottom: 25px;
        box-shadow: 0 0 0 0;
        &:focus {
        outline: 0;
      }
      }

      button {
        width: 100%;
        @include max-w(425) {
          padding: 13px 65px;
        }
      }
    }
  }
}