@import 'common/mixins';
@import 'common/screen';
@import 'common/colors';
@import 'common/variables';

.prices-page {
  background-image: url("img/services-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .headers-wrapper {
    padding-top: 50px;
  }

  .prices-page__content-wrapper {
    background-image: url("img/bigWhiteBck.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 150px;
    @include md-max {
      padding-bottom: 75px;
    }
  }

  .callback-section {
    background-image: url("img/weirdWhiteBck.png");
    padding-top: 190px;
    padding-bottom: 40px;
    margin-top: 120px;
    @include md-max {
      padding-bottom: 50px !important;
      margin-top: -35px !important;
    }
  }

  .content-wrapper {
    background-color: #fafafa;
    padding: 25px 45px 45px;
    border-radius: 35px;
    margin-top: 50px;

    .inner-wrapper {
      padding-top: 25px;
    }

    h3 {
      font-weight: 100;
      font-size: 32px;
      color: #121212;
      width: 100%;
      margin-bottom: 20px;
      @include md-max {
        font-size: 24px;
      }
    }

    hr {
      width: 100%;
      border-bottom: 3px dotted #2c6ba1;
      border-top: 0;
    }

    .price-wrapper {
      display: flex;
      @include max-w(425) {
        flex-wrap: wrap;
      }
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .text-wrapper {
        p {
          margin-bottom: 0;
          font-size: 18px;
        }

        @include max-w(425) {
          width: 100%;
        }
        display: flex;
        flex-direction: column;

        @include max-w(425) {
          p:last-child {
            font-size: 14px;
            font-weight: bold;
          }
        }
      }

      .price-block-blue {
        @include max-w(425) {
          width: 100%;
          margin: 10px auto;
        }
        @include sm-min {
          width: 37.5%;
        }
        @include xl-min {
          width: 25%;
        }
        display: block;
        //width: 15%;
        padding: 10px 20px;
        background-color: #d1dbe6;
        border-radius: 27px;
        margin-left: 50px;
        text-align: center;
      }

      .price-block-green {
        @include max-w(425) {
          width: 100%;
          margin: 10px auto;
        }
        @include sm-min {
          width: 37.5%;
        }
        @include xl-min {
          width: 25%;
        }
        display: block;
        //width: 15%;
        padding: 10px 20px;
        background-color: #d7e4d7;
        border-radius: 27px;
        margin-left: 50px;
        text-align: center;
      }
    }
  }

  .inputs-wrapper {
    p {
      width: 100% !important;
    }
  }
}